{% extends 'base.html' %}
{% block title %} Login {% endblock %}
<link rel="stylesheet" href="/static/css/map.css"/>
{% block body %}
  

<body>
    <div id="map"></div>
   <form action="/show-crime-rate" method="post">
        <input type="text" id="lat-input" name="lat-input" placeholder="Enter Lat value" />
        <br>
        <input type="text" id="lng-input" name="lng-input" placeholder="Enter Lng value" />
        <br>
        <input type="submit" value="Submit Data" />
   </form>
      
    </body>

<!-- <script src="../static/js/yelp.js"></script> -->
{% endblock %}