{% extends "layout.html" %}
{% block content %}
<table class="table table-striped">
  <thead>
  
    <tr>
    
      <th  scope="col"> Crime Type</th>
      <th scope="col"> Score</th>
      <th scope="col">Risk level</th>
      <th scope="col">State Avg</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    
      <th scope="row">{{ names[0] }}</th>
    <td>{{ scores[0] }}</td>
    <td>{{ categories[0] }}</td>
    <td>{{ states[0] }}</td>
     
    </tr>
    <tr>
      <th scope="row">{{ names[1] }}</th>
      <td>{{ scores[1] }}</td>
      <td>{{ categories[1] }}</td>
      <td>{{ states[1] }}</td>
    </tr>
    <tr>
      <th scope="row">{{ names[2] }}</th>
      <td>{{ scores[2] }}</td>
      <td>{{ categories[2] }}</td>
      <td>{{ states[2] }}</td>
    </tr>
    <tr>
      <th scope="row">{{ names[3] }}</th>
      <td>{{ scores[3] }}</td>
      <td>{{ categories[3] }}</td>
      <td>{{ states[3] }}</td>
    </tr>
    <tr>
      <th scope="row">{{ names[4] }}</th>
      <td>{{ scores[4] }}</td>
      <td>{{ categories[4] }}</td>
      <td>{{ states[4] }}</td>
    </tr>
    <tr>
      <th scope="row">{{ names[5] }}</th>
      <td>{{ scores[5] }}</td>
      <td>{{ categories[5] }}</td>
      <td>{{ states[5] }}</td>
    </tr>
    <tr>
      <th scope="row">{{ names[6] }}</th>
      <td>{{ scores[6] }}</td>
      <td>{{ categories[6] }}</td>
      <td>{{ states[6] }}</td>
    </tr>
    <tr>
      <th scope="row">{{ names[7] }}</th>
      <td>{{ scores[7] }}</td>
      <td>{{ categories[7] }}</td>
      <td>{{ states[7] }}</td>
    </tr>
    <tr>
      <th scope="row">{{ names[8] }}</th>
      <td>{{ scores[8] }}</td>
      <td>{{ categories[8] }}</td>
      <td>{{ states[8] }}</td>
    </tr>
    <tr>
      <th scope="row">{{ names[9] }}</th>
      <td>{{ scores[9] }}</td>
      <td>{{ categories[9] }}</td>
      <td>{{ states[9] }}</td>
    </tr>
    <tr>
      <th scope="row">{{ names[10] }}</th>
      <td>{{ scores[10] }}</td>
      <td>{{ categories[10] }}</td>
      <td>{{ states[10] }}</td>
    </tr>
    
    
  </tbody>
</table>
{% endblock %}
