{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/css/map.css"/>

{% endblock %}

{% block body %}

<input id ="pac-input" class="controls" type="text" placeholder="Search Box">

<!-- <div class="form-group">
  <label for="city">City:</label>
  
</div> -->

  <!-- <form action="#" onsubmit="searchValue(); return false">
    
    <br>
    <div>
      <input type="submit" value="Search">
    </div>
  </form> -->
  <ul class= "geodata">
    <li>Full Address: <span id="location"></span></li>
    <li>Postal Code:<span id="postal_code"></span></li>
    <li>Country: <span id="country"></span></li>
    <li>Latitude: <span id="lat"></span></li>
    <li>Longitude: <span id="lon"></span></li>
 </ul>
 

    <div id="map"></div>



  <script src="/static/js/park.js"></script>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCrSTmdIRX615rBfL49oB5M7sNLQHjogg&libraries=places&callback=initMap">

  </script>
  {% endblock%}