{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/css/map.css"/>

{% endblock %}

{% block body %}

    <input id ="pac-input" class="controls" type="text" placeholder="Search Box">

    <div id="map"></div>

    <ul class= "geodata">
        <li>Full Address: <span id="location"></span></li>
        <li>Postal Code:<span id="postal_code"></span></li>
        <li>Country: <span id="country"></span></li>
        <li>Latitude: <span id="lat"></span></li>
        <li>Longitude: <span id="lon"></span></li>
    </ul>
    <input id ="postal-code" type = "text" placeholder=" Search Box">

  <script src="/static/js/school.js.js"></script>
  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAF_GJXFz3mwkXkNsB18_u-tAnLP9yvoEA&libraries=places&callback=initMap">

  </script>
  {% endblock %}